# AISHA AJAO

# Module 2 (Assignment)

### Qs. 1

### Ans 1a.
 Write a function called `make_album()` that builds a dictionary describing a music album. The function should take in an artist name and an
album title, and it should return a dictionary containing these two pieces of information. Use the function to make three dictionaries representing different albums. 
Print each return value to show that the dictionaries are storing the 
album information correctly.

In [10]:
def make_album(artist_name, album_title):
    
    album_dict = {'Artist': artist_name.title(),'Album': album_title.title()}
    return album_dict

album = make_album('Harry Styles', 'Harrys House')
print(album)

album = make_album('Kizz Daniel', 'Where we come from')
print(album)

album = make_album('Tope Alabi', 'Yes and Amen')
print(album)

{'Artist': 'Harry Styles', 'Album': 'Harrys House'}
{'Artist': 'Kizz Daniel', 'Album': 'Where We Come From'}
{'Artist': 'Tope Alabi', 'Album': 'Yes And Amen'}

### Ans 1b.
 Use `None` to add an optional parameter to `make_album()` that allows you to store the number of songs on an album. If the calling line includes a value for
the number of songs, add that value to the album’s dictionary. Make at least one new function call that includes the number of songs on an album.

In [24]:
def make_album(artist_name, album_title, songs=None):
    
    album_dict = {'Artist': artist_name.title(),'Album': album_title.title()}
    if songs:
        album_dict['songs'] = songs
    return album_dict

album = make_album('Harry Styles', 'Harrys House' , songs=8)
print(album)

album = make_album('Kizz Daniel', 'Where we come from', songs=4)
print(album)

album = make_album('Tope Alabi', 'Yes and Amen', songs=5)
print(album)

{'Artist': 'Harry Styles', 'Album': 'Harrys House', 'songs': 8}
{'Artist': 'Kizz Daniel', 'Album': 'Where We Come From', 'songs': 4}
{'Artist': 'Tope Alabi', 'Album': 'Yes And Amen', 'songs': 5}

### Ans 1c.
Write an updated version of the function above called `make_album_updated()` that accepts the ***required*** arguments `artist_name`, `album_title`, `num_of_songs` and some ***arbitrary optional*** arguments like `year_released`, etc.

### Qs 2. 

* Write an `if-elif-else` chain that determines a person’s stage of life. Set a value for the variable `age`, and then:
    * If the person is ***less than 2 years old***, print a message that the person is a ***baby***.
    * If the person is ***at least 2 years old but less than 4***, print a message that the person is a ***toddler***.
    * If the person is ***at least 4 years old but less than 13***, print a message that the person is a ***kid***.
    * If the person is ***at least 13 years old but less than 20***, print a message that the person is a ***teenager***.
    * If the person is ***at least 20 years old but less than 65***, print a message that the person is an ***adult***.
    * If the person is ***age 65 or older***, print a message that the person is an ***elder***.

### Ans

In [25]:
age = 33

if age < 2:
    print("You're a baby!")
elif age < 4:
    print("You're a toddler!")
elif age < 13:
    print("You're a kid!")
elif age < 20:
    print("You're a teenager!")
elif age < 65:
    print("You're an adult!")
else:
    print("You're an elder!")

You're an adult!

### Qs 3. 
Given the string **"For the winter break I had a list of stories I wanted to write"**. Write a program that:

a. creates a ***list*** containing each word as an element in the list.

b. turns all the ***words*** in the string to ***title casing***.

c. turns all the ***words*** in the string to ***upper casing***.

### Ans 3a.
Creates a ***list*** containing each word as an element in the list.

In [28]:
a = "For the winter break I had a list of stories I wanted to write"
x = a.split()

print (x)

['For', 'the', 'winter', 'break', 'I', 'had', 'a', 'list', 'of', 'stories', 'I', 'wanted', 'to', 'write']

### Ans 3b.
Turns all the ***words*** in the string to ***title casing***.

In [29]:
a = "For the winter break I had a list of stories I wanted to write"
y = a.title()
y

'For The Winter Break I Had A List Of Stories I Wanted To Write'

### Ans 3c.

Turns all the ***words*** in the string to ***upper casing***.

In [32]:
z = a.upper()
z

'FOR THE WINTER BREAK I HAD A LIST OF STORIES I WANTED TO WRITE'

### Qs 4. 
Make a dictionary called `cities`. Use the names of three cities as keys in your dictionary. Create a dictionary of information about each city and
include the country that the city is in, its approximate population, and one fact about that city. The keys for each city’s dictionary should be something like
***country***, ***population***, and ***fact***. Print the name of each city and all of the information you have stored about it.

In [41]:
cities = {'Lagos': {'country': 'Nigeria','population': 15388000,'fact': "Lagos handles 80% of the Nigeria's imports" },
         'Paris': {'country': 'France','population': 2161000,'fact': 'Paris Is Referred To As The City Of Light' },
         'Tokyo': {'country': 'Japan','population': 13960000,'fact': "Tokyo is the world's most populous metropolitan area"},}

print(cities['Lagos'])
print(cities['Paris'])
print(cities['Tokyo'])

{'country': 'Nigeria', 'population': 15388000, 'fact': "Lagos handles 80% of the Nigeria's imports"}
{'country': 'France', 'population': 2161000, 'fact': 'Paris Is Referred To As The City Of Light'}
{'country': 'Japan', 'population': 13960000, 'fact': "Tokyo is the world's most populous metropolitan area"}

### Qs 5. 
Write a Python function called `calculate_length_of_dict_values()` to find the ***length*** of a given dictionary values. 
e.g

```Python
my_dict = {1: 'red', 2: 'green', 3: 'black', 4: 'white'}

calculate_length_of_dict_values(my_dict)
```
**`Output`**:
```Python
{'red': 3, 'green': 5, 'black': 5, 'white': 5}
```

In [50]:
def calculate_length_of_dict_values(dictionary):
    an_empty_dict ={}
    for value in dictionary:
        if dictionary[value] in an_empty_dict:
            an_empty_dict = {}
        else:
            an_empty_dict[dictionary[value]] = len(dictionary[value])
        print(an_empty_dict)
        
        my_dict = {1: 'red', 2: 'green', 3: 'black', 4: 'white'}
        calculate_length_of_dict_values(my_dict)

### Qs 6. 
Given the dict: 

```Python
my_dict = {
    "isbn": "123-456-222",
    "author": {"lastname": "Doe", "firstname": "Jane"},
    "editor": {"lastname": "Smith", "firstname": "Jane"},
    "title": "The Ultimate Database Study Guide",
    "category": ["Non-Fiction", "Technology"],
}
```

a. select the category `Technology`.

b. select the editior's `firstname`.

### Ans. 6

In [53]:
my_dict = {
    "isbn": "123-456-222",
    "author": {"lastname": "Doe", "firstname": "Jane"},
    "editor": {"lastname": "Smith", "firstname": "Jane"},
    "title": "The Ultimate Database Study Guide",
    "category": ["Non-Fiction", "Technology"],
}
print(my_dict.get('category', [])[1])
print(my_dict.get('editor',{}).get('firstname'))

Technology
Jane