# AISHA AJAO

## Module 3 ASSIGNMENT

In [3]:
#import sqlite, create connection and cursor object

import sqlite3

conn = sqlite3.connect("employees.db")

cursor = conn.cursor()

### 1. - Create Table Columns

cursor.execute ("""
CREATE TABLE employee
(
employee_id INT PRIMARY KEY,
last_name TEXT,
first_name TEST, 
postion TEXT,
salary REAL,
date_hire DATE
)
""")
print ("Table created successfully")

### 1a-1f Populating Data into Table (rows)

In [7]:
employee_list = [
                 (1, "Lew", "Allen", "City Administrator", 295000, 2004),
                 (2, "Sessoms", "Allen", "President", 295000, 2008),
                 (3, "HENDERSON", "KAYATANYA", "Superintendent Of Schools", 275000, 2007),
                 (4, "Lanier", "Cathy", "Chief", 230743, 19090),
                 (5, "Arons", "Bernard", "Medical Officer Psych", 206000, 2008),
                 (6, "Ritchie", "Elspeth", "Medical Officer Psych", 206000, 2010),
                 (7, "GRAY", "VINCENT", "Mayor", 200000, 2005),
                 (8, "Marshall", "Katherine", "Medical Officer Psych", 200000, 2008),
                 (9, "Gandhi", "Natwar", "Chief Financial Officer", 199700, 1997),
                 (10, "DUNCAN", "LORETTA", "Workers Compensation Recipient", 197808, 1984),
                 (11, "Baxter", "Graeme", "Act Provost & Vp Acd Aff", 196257, 2008),
                 (12, "Miramontes", "David", "Medical Director", 193125, 2011),
                 (13, "Graves", "Warren", "Chief Of Staff", 193125, 2011),
                 (14, "Stanchfield", "Eric", "Executive Director", 193125, 2007),
                 (15, "Jones", "Tyler", "Medical Officer Psych", 190550, 2008),
                 (16, "BROWN", "KWAME", "Chairman", 190000, 2005),
                 (17, "Eure", "Philip", "Executive Director", 188692, 2000),
                 (18, "Cooper", "Ginnie", "Executive Director", 188044, 2006),
                 (19, "Yadao", "Nilda", "Medical Officer (psychiatry)", 188027, 1987),
                 (20, "Ellerbe", "Kenneth", "Fire Chief", 187302, 2003),
                 (21, "Ruland", "Jeffrey", "Dir Of The Ctr For Wf Str & Ec", 186911, 2009),
                 (22, "Parker", "Craig", "General Counsel", 186911, 2009),
                 (23, "Farley", "Mark", "Vp, Human Resources", 186911, 2008),
                 (24, "Otero", "Beatriz", "Dep Mayor For Hlth & Hum Svcs", 185000, 2011),
                 (25, "Quander", "Paul", "Deputy Mayor", 185000, 2009),
                 (26, "Pierre", "Louis Marie", "Chief Medical Examiner", 185000, 1985),
                 (27, "Pestaner", "Joseph", "Medical Officer (medical Examiner)", 183892, 1997),
                 (28, "Revercomb", "Carolyn", "Medical Officer (medical Examiner)", 183892, 2005),
                 (29, "Morgan", "Johnson Sheila", "Chief Investment Officer", 183677, 1991),
                 (30, "Williamson", "Michael", "Deputy Director", 182000, 2011),
                 (31, "White", "Mattie", "Medical Officer (psychiatry)", 180604, 1989),
                 (32, "Park", "Kyung", "Medical Officer (psychiatry)", 180604, 1987),
                 (33, "Gore", "T", "Medical Officer (psychiatry)", 172101, 2005),
                 (34, "LUDWIG", "BENJAMIN", "Workers Compensation Recipient", 171517, 1972),
                 (35, "Atdjian", "Sylvia", "Medical Officer (psychiatry)", 170938, 2007),
                 (36, "Zaidi", "Syed", "Medical Officer (psychiatry)", 170344, 2005),
                 (37, "Sherron", "Robert", "Medical Officer (psychiatry)", 170344, 1991),
                 (38, "Johnson", "Nicole", "Medical Officer (psychiatry)", 170344, 2007),
                 (39, "RUDA", "LISA", "Chief Of Staff", 170000, 2007),
                 (40, "Beers", "Nathaniel", "Deputy Superintendent", 170000, 2007),
                 (41, "Nuss", "Laura", "Director", 170000, 2007),
                 (42, "Mancini", "Robert", "Acting Director", 170000, 2004),
                 (43, "Wicker", "Henry", "Medical Officer Opthalmologist", 168378, 1987),
                 (44, "Davenport", "Nancy", "Administrative Librarian", 167200, 2006),
                 (45, "Jaji", "Abayomi", "Medical Officer (psychiatry)", 167062, 2000),
                 (46, "Stevens", "KyleeAnn", "Medical Officer (psychiatry)", 167051, 2008),
                 (47, "Smothers", "Kenneth", "Medical Officer (psychiatry)", 166995, 1987),
                 (48, "Akhtar", "Saleha", "Medical Officer (psychiatry)", 166995, 1988),
                 (49, "Singh", "Anjali", "Medical Officer (psychiatry)", 166370, 1999),
                 (50, "Rahman", "Umar", "Medical Officer (psychiatry)", 166370, 1996),
                 (51, "Adewale", "Benjamin", "Medical Officer (psychiatry)", 166370, 1988),
                 (52, "Zaidi", "Syed", "Medical Officer General Practi", 165842, 1983),
                 (53, "Jackson", "Kenneth", "Assistant Fire Chief Srvs", 165306, 1982),
                 (54, "Berns", "David", "Dir Of Human Services", 165200, 2011),
                 (55, "Cordi", "Stephen", "Deputy Cfo Otr", 165162, 2008),
                 (56, "Mallory", "Lisa", "Acting Director", 165000, 2004),
                 (57, "Flowers", "Brian", "General Counsel", 165000, 1985),
                 (58, "Bellamy", "Terry", "Director", 165000, 2008),
                 (59, "West", "Millicent", "Director, Homeland Sec & Ema", 165000, 2003),
                 (60, "Pappas", "Gregory", "Deputy Dir", 164800, 2011),
                 (61, "Altaf", "Samia", "Supervisor Medical Officer", 164800, 2010),
                 (62, "Owens", "Karen", "Dental Officer", 164800, 1989),
                ]
cursor.executemany("INSERT INTO employee VALUES(?, ?, ?, ?, ?, ?)", employee_list)

print ("Exactly", cursor.rowcount, "recordshas been inserted to the table")

Exactly 62 recordshas been inserted to the table

In [8]:
conn.commit()

### 1g.  Write a query to get the ‘unique’ Position from employee table

In [10]:
query = """
SELECT DISTINCT postion
FROM employee;
"""

cursor.execute(query)

query_result = cursor.fetchall()
query_result

[('City Administrator',),
 ('President',),
 ('Superintendent Of Schools',),
 ('Chief',),
 ('Medical Officer Psych',),
 ('Mayor',),
 ('Chief Financial Officer',),
 ('Workers Compensation Recipient',),
 ('Act Provost & Vp Acd Aff',),
 ('Medical Director',),
 ('Chief Of Staff',),
 ('Executive Director',),
 ('Chairman',),
 ('Medical Officer (psychiatry)',),
 ('Fire Chief',),
 ('Dir Of The Ctr For Wf Str & Ec',),
 ('General Counsel',),
 ('Vp, Human Resources',),
 ('Dep Mayor For Hlth & Hum Svcs',),
 ('Deputy Mayor',),
 ('Chief Medical Examiner',),
 ('Medical Officer (medical Examiner)',),
 ('Chief Investment Officer',),
 ('Deputy Director',),
 ('Deputy Superintendent',),
 ('Director',),
 ('Acting Director',),
 ('Medical Officer Opthalmologist',),
 ('Administrative Librarian',),
 ('Medical Officer General Practi',),
 ('Assistant Fire Chief Srvs',),
 ('Dir Of Human Services',),
 ('Deputy Cfo Otr',),
 ('Director, Homeland Sec & Ema',),
 ('Deputy Dir',),
 ('Supervisor Medical Officer',),
 ('Dental Officer',)]

### 2. Write a query to get the ‘unique’ Position from employee table

In [11]:
query = """
SELECT * FROM employee
ORDER BY first_name DESC;
"""

cursor.execute(query)

In [12]:
query_result = cursor.fetchall()
query_result

[(13, 'Graves', 'Warren', 'Chief Of Staff', 193125.0, 2011),
 (7, 'GRAY', 'VINCENT', 'Mayor', 200000.0, 2005),
 (50, 'Rahman', 'Umar', 'Medical Officer (psychiatry)', 166370.0, 1996),
 (15, 'Jones', 'Tyler', 'Medical Officer Psych', 190550.0, 2008),
 (58, 'Bellamy', 'Terry', 'Director', 165000.0, 2008),
 (33, 'Gore', 'T', 'Medical Officer (psychiatry)', 172101.0, 2005),
 (35, 'Atdjian', 'Sylvia', 'Medical Officer (psychiatry)', 170938.0, 2007),
 (36, 'Zaidi', 'Syed', 'Medical Officer (psychiatry)', 170344.0, 2005),
 (52, 'Zaidi', 'Syed', 'Medical Officer General Practi', 165842.0, 1983),
 (55, 'Cordi', 'Stephen', 'Deputy Cfo Otr', 165162.0, 2008),
 (61, 'Altaf', 'Samia', 'Supervisor Medical Officer', 164800.0, 2010),
 (48, 'Akhtar', 'Saleha', 'Medical Officer (psychiatry)', 166995.0, 1988),
 (37, 'Sherron', 'Robert', 'Medical Officer (psychiatry)', 170344.0, 1991),
 (42, 'Mancini', 'Robert', 'Acting Director', 170000.0, 2004),
 (17, 'Eure', 'Philip', 'Executive Director', 188692.0, 2000),
 (25, 'Quander', 'Paul', 'Deputy Mayor', 185000.0, 2009),
 (19, 'Yadao', 'Nilda', 'Medical Officer (psychiatry)', 188027.0, 1987),
 (38, 'Johnson', 'Nicole', 'Medical Officer (psychiatry)', 170344.0, 2007),
 (9, 'Gandhi', 'Natwar', 'Chief Financial Officer', 199700.0, 1997),
 (40, 'Beers', 'Nathaniel', 'Deputy Superintendent', 170000.0, 2007),
 (44, 'Davenport', 'Nancy', 'Administrative Librarian', 167200.0, 2006),
 (59, 'West', 'Millicent', 'Director, Homeland Sec & Ema', 165000.0, 2003),
 (30, 'Williamson', 'Michael', 'Deputy Director', 182000.0, 2011),
 (31, 'White', 'Mattie', 'Medical Officer (psychiatry)', 180604.0, 1989),
 (23, 'Farley', 'Mark', 'Vp, Human Resources', 186911.0, 2008),
 (26, 'Pierre', 'Louis Marie', 'Chief Medical Examiner', 185000.0, 1985),
 (56, 'Mallory', 'Lisa', 'Acting Director', 165000.0, 2004),
 (41, 'Nuss', 'Laura', 'Director', 170000.0, 2007),
 (10, 'DUNCAN', 'LORETTA', 'Workers Compensation Recipient', 197808.0, 1984),
 (39, 'RUDA', 'LISA', 'Chief Of Staff', 170000.0, 2007),
 (32, 'Park', 'Kyung', 'Medical Officer (psychiatry)', 180604.0, 1987),
 (46, 'Stevens', 'KyleeAnn', 'Medical Officer (psychiatry)', 167051.0, 2008),
 (20, 'Ellerbe', 'Kenneth', 'Fire Chief', 187302.0, 2003),
 (47, 'Smothers', 'Kenneth', 'Medical Officer (psychiatry)', 166995.0, 1987),
 (53, 'Jackson', 'Kenneth', 'Assistant Fire Chief Srvs', 165306.0, 1982),
 (8, 'Marshall', 'Katherine', 'Medical Officer Psych', 200000.0, 2008),
 (62, 'Owens', 'Karen', 'Dental Officer', 164800.0, 1989),
 (16, 'BROWN', 'KWAME', 'Chairman', 190000.0, 2005),
 (3, 'HENDERSON', 'KAYATANYA', 'Superintendent Of Schools', 275000.0, 2007),
 (27,
  'Pestaner',
  'Joseph',
  'Medical Officer (medical Examiner)',
  183892.0,
  1997),
 (29, 'Morgan', 'Johnson Sheila', 'Chief Investment Officer', 183677.0, 1991),
 (21, 'Ruland', 'Jeffrey', 'Dir Of The Ctr For Wf Str & Ec', 186911.0, 2009),
 (43, 'Wicker', 'Henry', 'Medical Officer Opthalmologist', 168378.0, 1987),
 (60, 'Pappas', 'Gregory', 'Deputy Dir', 164800.0, 2011),
 (11, 'Baxter', 'Graeme', 'Act Provost & Vp Acd Aff', 196257.0, 2008),
 (18, 'Cooper', 'Ginnie', 'Executive Director', 188044.0, 2006),
 (14, 'Stanchfield', 'Eric', 'Executive Director', 193125.0, 2007),
 (6, 'Ritchie', 'Elspeth', 'Medical Officer Psych', 206000.0, 2010),
 (12, 'Miramontes', 'David', 'Medical Director', 193125.0, 2011),
 (54, 'Berns', 'David', 'Dir Of Human Services', 165200.0, 2011),
 (22, 'Parker', 'Craig', 'General Counsel', 186911.0, 2009),
 (4, 'Lanier', 'Cathy', 'Chief', 230743.0, 19090),
 (28,
  'Revercomb',
  'Carolyn',
  'Medical Officer (medical Examiner)',
  183892.0,
  2005),
 (57, 'Flowers', 'Brian', 'General Counsel', 165000.0, 1985),
 (5, 'Arons', 'Bernard', 'Medical Officer Psych', 206000.0, 2008),
 (51, 'Adewale', 'Benjamin', 'Medical Officer (psychiatry)', 166370.0, 1988),
 (24, 'Otero', 'Beatriz', 'Dep Mayor For Hlth & Hum Svcs', 185000.0, 2011),
 (34, 'LUDWIG', 'BENJAMIN', 'Workers Compensation Recipient', 171517.0, 1972),
 (49, 'Singh', 'Anjali', 'Medical Officer (psychiatry)', 166370.0, 1999),
 (1, 'Lew', 'Allen', 'City Administrator', 295000.0, 2004),
 (2, 'Sessoms', 'Allen', 'President', 295000.0, 2008),
 (45, 'Jaji', 'Abayomi', 'Medical Officer (psychiatry)', 167062.0, 2000)]

### 3. Write a query that returns employees’ first_name, last_name and salary, for salary greater than 200,000.

In [13]:
query = """
SELECT first_name, last_name, salary
FROM employee
WHERE salary > 200000;
"""

cursor.execute(query)

In [14]:
query_result = cursor.fetchall()
query_result

[('Allen', 'Lew', 295000.0),
 ('Allen', 'Sessoms', 295000.0),
 ('KAYATANYA', 'HENDERSON', 275000.0),
 ('Cathy', 'Lanier', 230743.0),
 ('Bernard', 'Arons', 206000.0),
 ('Elspeth', 'Ritchie', 206000.0)]

### 4. Change of last name from RUDA  to Peter

In [15]:
query = """
UPDATE employee
SET last_name = 'Peter'
WHERE last_name = 'RUDA';
"""
cursor.execute(query)

In [16]:
# Check if name change is successful
sql="""
SELECT * FROM employee
WHERE last_name = 'Peter';
"""
cursor.execute(sql)
result = cursor.fetchall()
result

[(39, 'Peter', 'LISA', 'Chief Of Staff', 170000.0, 2007)]

### 5.  Removes ‘KWAME’ from the database

In [17]:
sql = """
DELETE FROM employee
WHERE first_name = 'KWAME';
"""
cursor.execute(sql)
print("Kwame no longer works here.")

Kwame no longer works here.

In [18]:
sql = """
SELECT * FROM employee;
"""
cursor.execute(sql)

In [19]:
result = cursor.fetchall()
result

[(1, 'Lew', 'Allen', 'City Administrator', 295000.0, 2004),
 (2, 'Sessoms', 'Allen', 'President', 295000.0, 2008),
 (3, 'HENDERSON', 'KAYATANYA', 'Superintendent Of Schools', 275000.0, 2007),
 (4, 'Lanier', 'Cathy', 'Chief', 230743.0, 19090),
 (5, 'Arons', 'Bernard', 'Medical Officer Psych', 206000.0, 2008),
 (6, 'Ritchie', 'Elspeth', 'Medical Officer Psych', 206000.0, 2010),
 (7, 'GRAY', 'VINCENT', 'Mayor', 200000.0, 2005),
 (8, 'Marshall', 'Katherine', 'Medical Officer Psych', 200000.0, 2008),
 (9, 'Gandhi', 'Natwar', 'Chief Financial Officer', 199700.0, 1997),
 (10, 'DUNCAN', 'LORETTA', 'Workers Compensation Recipient', 197808.0, 1984),
 (11, 'Baxter', 'Graeme', 'Act Provost & Vp Acd Aff', 196257.0, 2008),
 (12, 'Miramontes', 'David', 'Medical Director', 193125.0, 2011),
 (13, 'Graves', 'Warren', 'Chief Of Staff', 193125.0, 2011),
 (14, 'Stanchfield', 'Eric', 'Executive Director', 193125.0, 2007),
 (15, 'Jones', 'Tyler', 'Medical Officer Psych', 190550.0, 2008),
 (17, 'Eure', 'Philip', 'Executive Director', 188692.0, 2000),
 (18, 'Cooper', 'Ginnie', 'Executive Director', 188044.0, 2006),
 (19, 'Yadao', 'Nilda', 'Medical Officer (psychiatry)', 188027.0, 1987),
 (20, 'Ellerbe', 'Kenneth', 'Fire Chief', 187302.0, 2003),
 (21, 'Ruland', 'Jeffrey', 'Dir Of The Ctr For Wf Str & Ec', 186911.0, 2009),
 (22, 'Parker', 'Craig', 'General Counsel', 186911.0, 2009),
 (23, 'Farley', 'Mark', 'Vp, Human Resources', 186911.0, 2008),
 (24, 'Otero', 'Beatriz', 'Dep Mayor For Hlth & Hum Svcs', 185000.0, 2011),
 (25, 'Quander', 'Paul', 'Deputy Mayor', 185000.0, 2009),
 (26, 'Pierre', 'Louis Marie', 'Chief Medical Examiner', 185000.0, 1985),
 (27,
  'Pestaner',
  'Joseph',
  'Medical Officer (medical Examiner)',
  183892.0,
  1997),
 (28,
  'Revercomb',
  'Carolyn',
  'Medical Officer (medical Examiner)',
  183892.0,
  2005),
 (29, 'Morgan', 'Johnson Sheila', 'Chief Investment Officer', 183677.0, 1991),
 (30, 'Williamson', 'Michael', 'Deputy Director', 182000.0, 2011),
 (31, 'White', 'Mattie', 'Medical Officer (psychiatry)', 180604.0, 1989),
 (32, 'Park', 'Kyung', 'Medical Officer (psychiatry)', 180604.0, 1987),
 (33, 'Gore', 'T', 'Medical Officer (psychiatry)', 172101.0, 2005),
 (34, 'LUDWIG', 'BENJAMIN', 'Workers Compensation Recipient', 171517.0, 1972),
 (35, 'Atdjian', 'Sylvia', 'Medical Officer (psychiatry)', 170938.0, 2007),
 (36, 'Zaidi', 'Syed', 'Medical Officer (psychiatry)', 170344.0, 2005),
 (37, 'Sherron', 'Robert', 'Medical Officer (psychiatry)', 170344.0, 1991),
 (38, 'Johnson', 'Nicole', 'Medical Officer (psychiatry)', 170344.0, 2007),
 (39, 'Peter', 'LISA', 'Chief Of Staff', 170000.0, 2007),
 (40, 'Beers', 'Nathaniel', 'Deputy Superintendent', 170000.0, 2007),
 (41, 'Nuss', 'Laura', 'Director', 170000.0, 2007),
 (42, 'Mancini', 'Robert', 'Acting Director', 170000.0, 2004),
 (43, 'Wicker', 'Henry', 'Medical Officer Opthalmologist', 168378.0, 1987),
 (44, 'Davenport', 'Nancy', 'Administrative Librarian', 167200.0, 2006),
 (45, 'Jaji', 'Abayomi', 'Medical Officer (psychiatry)', 167062.0, 2000),
 (46, 'Stevens', 'KyleeAnn', 'Medical Officer (psychiatry)', 167051.0, 2008),
 (47, 'Smothers', 'Kenneth', 'Medical Officer (psychiatry)', 166995.0, 1987),
 (48, 'Akhtar', 'Saleha', 'Medical Officer (psychiatry)', 166995.0, 1988),
 (49, 'Singh', 'Anjali', 'Medical Officer (psychiatry)', 166370.0, 1999),
 (50, 'Rahman', 'Umar', 'Medical Officer (psychiatry)', 166370.0, 1996),
 (51, 'Adewale', 'Benjamin', 'Medical Officer (psychiatry)', 166370.0, 1988),
 (52, 'Zaidi', 'Syed', 'Medical Officer General Practi', 165842.0, 1983),
 (53, 'Jackson', 'Kenneth', 'Assistant Fire Chief Srvs', 165306.0, 1982),
 (54, 'Berns', 'David', 'Dir Of Human Services', 165200.0, 2011),
 (55, 'Cordi', 'Stephen', 'Deputy Cfo Otr', 165162.0, 2008),
 (56, 'Mallory', 'Lisa', 'Acting Director', 165000.0, 2004),
 (57, 'Flowers', 'Brian', 'General Counsel', 165000.0, 1985),
 (58, 'Bellamy', 'Terry', 'Director', 165000.0, 2008),
 (59, 'West', 'Millicent', 'Director, Homeland Sec & Ema', 165000.0, 2003),
 (60, 'Pappas', 'Gregory', 'Deputy Dir', 164800.0, 2011),
 (61, 'Altaf', 'Samia', 'Supervisor Medical Officer', 164800.0, 2010),
 (62, 'Owens', 'Karen', 'Dental Officer', 164800.0, 1989)]

### 6. Renames the column “Position” to “job_role”

In [23]:
sql ="""
ALTER TABLE employee
RENAME COLUMN postion TO job_role;

""" 
cursor.execute(sql)

print("Column Postion has been renamed to Job role")

Column Postion has been renamed to Job role

### 7.

In [32]:
query = """
SELECT employee_id, first_name AS NAME, last_name AS NAME, salary FROM employee
ORDER BY salary;
"""

cursor.execute(query)

query_result = cursor.fetchall()
query_result

[(60, 'Gregory', 'Pappas', 164800.0),
 (61, 'Samia', 'Altaf', 164800.0),
 (62, 'Karen', 'Owens', 164800.0),
 (56, 'Lisa', 'Mallory', 165000.0),
 (57, 'Brian', 'Flowers', 165000.0),
 (58, 'Terry', 'Bellamy', 165000.0),
 (59, 'Millicent', 'West', 165000.0),
 (55, 'Stephen', 'Cordi', 165162.0),
 (54, 'David', 'Berns', 165200.0),
 (53, 'Kenneth', 'Jackson', 165306.0),
 (52, 'Syed', 'Zaidi', 165842.0),
 (49, 'Anjali', 'Singh', 166370.0),
 (50, 'Umar', 'Rahman', 166370.0),
 (51, 'Benjamin', 'Adewale', 166370.0),
 (47, 'Kenneth', 'Smothers', 166995.0),
 (48, 'Saleha', 'Akhtar', 166995.0),
 (46, 'KyleeAnn', 'Stevens', 167051.0),
 (45, 'Abayomi', 'Jaji', 167062.0),
 (44, 'Nancy', 'Davenport', 167200.0),
 (43, 'Henry', 'Wicker', 168378.0),
 (39, 'LISA', 'Peter', 170000.0),
 (40, 'Nathaniel', 'Beers', 170000.0),
 (41, 'Laura', 'Nuss', 170000.0),
 (42, 'Robert', 'Mancini', 170000.0),
 (36, 'Syed', 'Zaidi', 170344.0),
 (37, 'Robert', 'Sherron', 170344.0),
 (38, 'Nicole', 'Johnson', 170344.0),
 (35, 'Sylvia', 'Atdjian', 170938.0),
 (34, 'BENJAMIN', 'LUDWIG', 171517.0),
 (33, 'T', 'Gore', 172101.0),
 (31, 'Mattie', 'White', 180604.0),
 (32, 'Kyung', 'Park', 180604.0),
 (30, 'Michael', 'Williamson', 182000.0),
 (29, 'Johnson Sheila', 'Morgan', 183677.0),
 (27, 'Joseph', 'Pestaner', 183892.0),
 (28, 'Carolyn', 'Revercomb', 183892.0),
 (24, 'Beatriz', 'Otero', 185000.0),
 (25, 'Paul', 'Quander', 185000.0),
 (26, 'Louis Marie', 'Pierre', 185000.0),
 (21, 'Jeffrey', 'Ruland', 186911.0),
 (22, 'Craig', 'Parker', 186911.0),
 (23, 'Mark', 'Farley', 186911.0),
 (20, 'Kenneth', 'Ellerbe', 187302.0),
 (19, 'Nilda', 'Yadao', 188027.0),
 (18, 'Ginnie', 'Cooper', 188044.0),
 (17, 'Philip', 'Eure', 188692.0),
 (15, 'Tyler', 'Jones', 190550.0),
 (12, 'David', 'Miramontes', 193125.0),
 (13, 'Warren', 'Graves', 193125.0),
 (14, 'Eric', 'Stanchfield', 193125.0),
 (11, 'Graeme', 'Baxter', 196257.0),
 (10, 'LORETTA', 'DUNCAN', 197808.0),
 (9, 'Natwar', 'Gandhi', 199700.0),
 (7, 'VINCENT', 'GRAY', 200000.0),
 (8, 'Katherine', 'Marshall', 200000.0),
 (5, 'Bernard', 'Arons', 206000.0),
 (6, 'Elspeth', 'Ritchie', 206000.0),
 (4, 'Cathy', 'Lanier', 230743.0),
 (3, 'KAYATANYA', 'HENDERSON', 275000.0),
 (1, 'Allen', 'Lew', 295000.0),
 (2, 'Allen', 'Sessoms', 295000.0)]

### 8. The count of employees whose salaries are greater than 200,000

In [34]:
query = """
SELECT COUNT(*)
FROM employee
WHERE salary > 200000;
"""

cursor.execute(query)

query_result = cursor.fetchall()
query_result

[(6,)]

### 9. Query to get the maximum and minimum salary from the employees table

In [35]:
# Maximum salary

query = """
SELECT MAX(salary)
FROM employee;
"""
cursor.execute(query)

query_result = cursor.fetchall()
query_result

[(295000.0,)]

In [36]:
# Minimum salary
query = """
SELECT MIN(salary)
FROM employee;
"""

cursor.execute(query)

query_result = cursor.fetchall()
query_result

[(164800.0,)]

In [37]:
conn.commit()

In [38]:
conn.close()